@mixin educationStyles{
    #education{
        min-height: 50vh;
        min-width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    @media only screen and (max-width: 1120px) {
        #education{
            min-height: auto;
            min-width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
    }
    @media only screen and (max-width: 768px) {
        #education{
            min-height: auto;
            min-width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        #edu-left-column, #edu-right-column{
            width: 80% !important;
            height: 100%;
            padding: 0px !important;
            display: flex;
            align-items: center; 
        }
        #edu-left-column{
            justify-content: center;
            align-items: center;
            border-right: none !important;
        }
        #edu-right-column{
            justify-content: center;
            align-items: center;
        }
        #edu-1-left{
            width: 100% !important;
            height: 100% !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }
        #edu-1-right{
            width: 100% !important;
            height: 100% !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            text-align: center;
        }
    }
    #edu-left-column, #edu-right-column{
        width: 50%;
        height: 80%;
        padding: 20px;
        display: flex;
        align-items: center; 
    }
    #edu-left-column{
        justify-content: flex-end;
        border-right: $secondary 1px solid;
    }
    #edu-right-column{
        justify-content: flex-start;
    }
    #edu-1-left{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    #edu-1-right{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
}

@mixin experienceStyles{
    #experience{
        @include center;
        min-height: 50vh;
        min-width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        padding: 20px;
        padding: 20px;
    }
    #ex-left-column, #ex-right-column{
        width: 50%;
        height: 80%;
        padding: 20px;
        display: flex;
        align-items: center;    
    }
    #ex-left-column{
        justify-content: flex-end;
        border-right: $secondary 1px solid;
    }
    #ex-right-column{
        justify-content: flex-start;
    }
    #ex-1-left{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    #ex-1-right{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    @media only screen and (max-width: 1120px) {
        #experience{
            min-height: auto;
            min-width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 20px;
            color: white;
            background-color: $primary;
            padding: 20px;
        }
    }
    @media only screen and (max-width: 768px) {
        #experience{
            @include center;
            min-height: auto;
            min-width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            color: $secondary;
            padding: 20px;
        }
        #ex-left-column, #ex-right-column{
            width: 80% !important;
            height: 100%;
            padding: 0px !important;
            display: flex;
            align-items: center; 
        }
        #ex-left-column{
            justify-content: center;
            align-items: center;
            border-right: none !important;
        }
        #ex-right-column{
            justify-content: center;
            align-items: center;
        }
        #ex-1-left{
            @include center;
            width: 100% !important;
            height: 100% !important;
        }
        #ex-1-right{
            @include center;
            width: 100% !important;
            height: 100% !important;
            display: flex !important;
            text-align: center;
        }
    }
}