@mixin contentStyles{
    .content{
        @include center;
        min-width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding: 20px;
    }
    .content > *{
        width: 80%;
        max-width: 1200px;
    }
    .contentTitle{
        width: 100%;
        padding: 32px;
        text-transform: uppercase;
        font-size: 1.75rem;
        color: $primary;
        background-color: $secondary;
        text-align: center;
    }
    .itemTitle{
        width: 80%;
        min-height: 250px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 32px;
    }
    .itemDescription{
        width: 80%;
        min-height: 250px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-items: center;
        padding-left: 32px;
        border-left: 1px $secondary solid
    }
    .item{
        display: flex;
        flex-direction: row;
    }
    
    @media only screen and (max-width: 768px) {
        .content{
            @include center;
            min-width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            padding: 20px;
        }
        .content > *{
            width: 80%;
            max-width: 1200px;
        }
        .itemTitle{
            width: 80%;
            min-height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 0px;
            text-align: center;
        }
        .itemDescription{
            width: 80%;
            min-height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0px;
            border-left: none;
            text-align: center;
        }
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px;
            border-bottom: 1px $secondary solid;
        }
        .item:last-of-type{
            border-bottom: none;
        }
    }
}
.left-column, .right-column{
    height: 90%;
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;    
}
.left-column{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.right-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}