@import "contentSections.scss";
@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
$primary: #FFF;
$secondary: #000;
html{
    font-family: raleway;
}
p{
    line-height: 1.6;
}
#sidebar{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $secondary;
    z-index: 10;
}
#photo-container{
    @include center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}
#profile-photo{
    width: 165px;
    height: 165px;
    background-image: url("./../images/profile_pic.jpg");
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
}
#menu{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}
#menu > nav > a{
    @include center;
    padding: 10px;
    margin: 0px 5px;
    text-decoration: none;
    color: $primary;
    font-family: raleway;
    font-size: 1.25rem;

}
#social-links{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
}
#page-container{
    width: calc(100vw - 350px);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $primary;
    color: $secondary;
}
#hero{
    @include center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.20)), url("./../images/home_hero.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
}
#hero-content{
    @include center;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    text-align: center;
    color: $primary;
}
#hero-title{
    font-family: cinzel;
    font-weight: 500;
    line-height: 1;
    font-size: 5rem;
    margin: 16px;
}
#hero-subtitle{
    width: 80%;
    font-family: raleway;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.4;
    margin: 16px;
}
#sticky-header{
    height: 65px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    color: $primary;
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
}
#toggleOpen{
    position: absolute;
    top: calc((65px - 30px)/2);
    left: 20px;
    color: $primary;
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
}
#toggleClose{
    position: absolute;
    top: 20px;
    left: 20px;
    color: $primary;
    font-size: 30px;
    cursor: pointer;
    z-index: 11;
}
#footer{
    width: 100%;
    padding: 32px;
    font-size: 1rem;
    color: $primary;
    background-color: $secondary;
    text-align: center;
}
@media only screen and (max-width: 1120px) {
    #sidebar{
        margin-left: -350px;
    }
    #hero{
        @include center;
        background-attachment: scroll;
    }
    #page-container{
        width: 100vw;
    }
    #sticky-header{
        background-color: $secondary;
    }
}
@media only screen and (min-width: 1120px) {
    #toggleClose{
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    #sidebar{
        width: 100vw;
        margin-left: -100vw;
    }
}
@include contentStyles;
